/* Coolors Exported Palette - coolors.co/9f84bd-c09bd8-ebc3db-ede3e9-e6e4ce */

/* HSL */
$color1: hsla(268%, 30%, 63%, 1);
$color2: hsla(276%, 44%, 73%, 1);
$color3: hsla(324%, 50%, 84%, 1);
$color4: hsla(324%, 22%, 91%, 1);
$color5: hsla(55%, 32%, 85%, 1);

/* RGB */
$color1: rgba(159, 132, 189, 1);
$color2: rgba(192, 155, 216, 1);
$color3: rgba(235, 195, 219, 1);
$color4: rgba(237, 227, 233, 1);
$color5: rgba(230, 228, 206, 1);